In [1]:
from reinforcetrader.data import RawDataLoader

In [2]:
# Get S&P 500 raw data using Yahoo Finance API
data_loader = RawDataLoader(start_date='2000-02-20', end_date='2025-08-11')

# Download or load from cache the data
raw_data = data_loader.get_hist_prices()

# Inspect the raw S&P500 close and volume data
display(raw_data.head())

Downloading from yfinance as cached data does not exist in data/raw

[*********************100%***********************]  501 of 501 completed

Data saved to data\raw\tickers_data_2000-02-20_2025-08-11.csv

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WY,WYNN,XEL,XOM,XYL,XYZ,YUM,ZBH,ZBRA,ZTS
Price,Close,Close,Close,Close,Close,Close,Close,Close,Close,Close,...,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2000-02-22,54.899857,0.854166,NaN,NaN,7.829192,1.479176,NaN,24.396496,44.366394,5.854148,...,1660900,NaN,477300,10854800,NaN,NaN,4787822,NaN,1654875,NaN
2000-02-23,59.399860,0.872459,NaN,NaN,7.535964,1.505589,NaN,24.730049,45.582150,5.662210,...,994300,NaN,306300,8881600,NaN,NaN,1764344,NaN,1073925,NaN
2000-02-24,64.049866,0.864603,NaN,NaN,7.447995,1.578227,NaN,26.405619,49.808472,5.630221,...,1987000,NaN,367700,10786400,NaN,NaN,4273152,NaN,425475,NaN
2000-02-25,64.874817,0.828367,NaN,NaN,7.521302,1.479176,NaN,24.450796,48.438282,5.470274,...,1077300,NaN,477600,11800600,NaN,NaN,3476944,NaN,307350,NaN
2000-02-28,60.599850,0.849945,NaN,NaN,7.770549,1.532003,NaN,24.280138,46.141804,5.406290,...,1599600,NaN,505400,11875200,NaN,NaN,3263842,NaN,443025,NaN